In [467]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [468]:
df = pd.read_csv("test.csv")

In [469]:
df.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [470]:
df.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name'],
      dtype='object')

In [471]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [472]:
df.isnull().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [473]:
def fillnaFloatMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
fillnaFloatMean(columns)

In [474]:
def fillnaObjectMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['PassengerId','HomePlanet','CryoSleep','Cabin','Destination','VIP','Name']
fillnaObjectMode(columns)

C:\Users\HAK3\AppData\Local\Temp\ipykernel_1804\2845410361.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[i] = df[i].fillna(df[i].mode()[0])

In [475]:

def changeFloatToInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
changeFloatToInt(columns)

In [476]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))    
        df[i] = data_LE.transform(df[i])
        
columns = ['PassengerId','HomePlanet','CryoSleep','Cabin','Destination','VIP','Name']
convertObjToInt(columns)

In [477]:
df.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
dtype: int64

In [478]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   int64
 1   HomePlanet    4277 non-null   int64
 2   CryoSleep     4277 non-null   int64
 3   Cabin         4277 non-null   int64
 4   Destination   4277 non-null   int64
 5   Age           4277 non-null   int64
 6   VIP           4277 non-null   int64
 7   RoomService   4277 non-null   int64
 8   FoodCourt     4277 non-null   int64
 9   ShoppingMall  4277 non-null   int64
 10  Spa           4277 non-null   int64
 11  VRDeck        4277 non-null   int64
 12  Name          4277 non-null   int64
dtypes: int64(13)
memory usage: 434.5 KB

In [479]:
def drop_columns(df: pd.DataFrame, columns: list):
    return df.drop(columns=[col for col in columns if col in df.columns], inplace=False)
cols_to_drop = ['PassengerId','Name','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
df = drop_columns(df, cols_to_drop)

In [480]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   HomePlanet   4277 non-null   int64
 1   CryoSleep    4277 non-null   int64
 2   Cabin        4277 non-null   int64
 3   Destination  4277 non-null   int64
 4   Age          4277 non-null   int64
 5   VIP          4277 non-null   int64
dtypes: int64(6)
memory usage: 200.6 KB

In [481]:
df.to_csv('processed1.csv', index=False, header=True)

In [482]:
df = pd.read_csv("train.csv")

In [483]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [484]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [485]:
df.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [486]:
def fillnaFloatMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
fillnaFloatMean(columns)

In [487]:
def fillnaObjectMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['PassengerId','HomePlanet','CryoSleep','Cabin','Destination','VIP','Name']
fillnaObjectMode(columns)

C:\Users\HAK3\AppData\Local\Temp\ipykernel_1804\2845410361.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[i] = df[i].fillna(df[i].mode()[0])

In [488]:

def changeFloatToInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
changeFloatToInt(columns)

In [489]:
df['Transported'] = df['Transported'].astype(int)

In [490]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))    
        df[i] = data_LE.transform(df[i])
        
columns = ['PassengerId','HomePlanet','CryoSleep','Cabin','Destination','VIP','Name']
convertObjToInt(columns)

In [491]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   int64
 1   HomePlanet    8693 non-null   int64
 2   CryoSleep     8693 non-null   int64
 3   Cabin         8693 non-null   int64
 4   Destination   8693 non-null   int64
 5   Age           8693 non-null   int64
 6   VIP           8693 non-null   int64
 7   RoomService   8693 non-null   int64
 8   FoodCourt     8693 non-null   int64
 9   ShoppingMall  8693 non-null   int64
 10  Spa           8693 non-null   int64
 11  VRDeck        8693 non-null   int64
 12  Name          8693 non-null   int64
 13  Transported   8693 non-null   int64
dtypes: int64(14)
memory usage: 950.9 KB

In [492]:
df.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

In [493]:
def drop_columns(df: pd.DataFrame, columns: list):
    return df.drop(columns=[col for col in columns if col in df.columns], inplace=False)
cols_to_drop = ['PassengerId','Name','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
df = drop_columns(df, cols_to_drop)

In [494]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   HomePlanet   8693 non-null   int64
 1   CryoSleep    8693 non-null   int64
 2   Cabin        8693 non-null   int64
 3   Destination  8693 non-null   int64
 4   Age          8693 non-null   int64
 5   VIP          8693 non-null   int64
 6   Transported  8693 non-null   int64
dtypes: int64(7)
memory usage: 475.5 KB

In [495]:
df.to_csv('processed2.csv', index=False, header=True)

In [496]:
test = pd.read_csv("processed1.csv")

In [497]:
train = pd.read_csv("processed2.csv")

In [498]:
X_train = df.drop('Transported', axis=1)
y_train = df['Transported']

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(
    n_estimators=50,
    max_depth=5,
    min_samples_split=10,
    min_samples_leaf=5,
    random_state=42
)
model.fit(X_train, y_train)

In [499]:
from catboost import CatBoostClassifier

model = CatBoostClassifier(
    iterations=200,       
    depth=5,              
    learning_rate=0.1,     
    random_seed=42,
    verbose=0             
)

model.fit(X_train, y_train)

In [500]:
y_pred = model.predict(test)

In [501]:
test_raw = pd.read_csv('test.csv')

In [502]:
submission = pd.DataFrame({
    'PassengerId': test_raw['PassengerId'],
    'Transported': y_pred.astype(bool)
})

submission.to_csv('submission.csv', index=False)

In [503]:
print('PassengerId' in test.columns)
print('PassengerId' in test_raw.columns)

False
True